html {
    height: 100%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

body {background-image: url("Anfield.jpg"); 
    background-position: right top;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}

header {color:aliceblue ;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    background-color: rgba(220, 20, 60, 0.477); 
    background-position: center;
    
    text-align: center;
    image-orientation: center;
    height: 118px;
  
    
}

nav {
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    background-color: rgba(245, 245, 245, 0.477);
    height:40px;
   
}


main {
    color: white;
    height: auto;
    background-color: rgba(220, 20, 60, 0.477);
    font-family: serif;
    text-align: center;
    font-size: 12px;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    
    

}


footer {
    color: white;
    height: 200px;
    background-color: rgba(7, 7, 7, 0.708);
    font-family: serif;
    text-align:left;
    font-size: 10px;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    
}
h2 {
    font-size: 25px;
}

p {
    display: inline;
}

.over{
    font-size: 20px;
}
a {
    font-size: 14px;
    text-decoration-line: underline;
    color: inherit;
    background-color: transparent;
    
  }